@* Fazer referência a partir da Model *@
@model Dashboard

@{
    ViewData["Title"] = "Dashboard";
}

<partial name="_Header" model="Model"></partial>

<!-- AddIframe View -->
<div>
    <div class="navegacao_dash">
        <div class="itens-dash">
            <a asp-area="" asp-controller="Calendar" asp-action="Index">
                <img src="/assets/myte-adm.svg" class="nav-image" alt="...">
                MyTE
            </a>
        </div>
    </div>
    
    <div class="container-Iframe">
        <iframe class="d-flex justify-content-center align-items-center w-100 h-100"
                title="RelatorioPITeste"
                src="https://app.powerbi.com/reportEmbed?reportId=573ab1e6-8725-48f5-9a54-4f4f39caba78&autoAuth=true&ctid=cf36141c-ddd7-45a7-b073-111f66d0b30c"
                frameborder="1"
                allowFullScreen="true">
        </iframe>
    </div>
</div>

   



