@model myte.Models.DepartamentoFuncionarioViewModel

@{
    ViewData["Title"] = "Atualizar Registro";
}


@* Titulo  *@
<partial name="_Header" model="Model"></partial>


<section class="containerMain">
    <div>
        <h2 class="title">
           Atualizar Registro
        </h2>
        <form method="post">

            <div class="row container_foto-data">
                @* Imagem
                Tenho que adicionar uma funçao upload da imagem
                *@                
                <div class="form-group col">
                    <label asp-for="funcionario.DataDeContratacao">Data de Contratação:</label>
                    <input asp-for="funcionario.DataDeContratacao" type="date" class="form-control" id="contratacao">
                </div>
            </div>
            @* **************************  *@
            <div class="row">
                @* Nome   *@
                <div class="mb-3">
                    <label asp-for="funcionario.Nome" class="form-label">Nome</label>
                    <input asp-for="funcionario.Nome" type="text"
                           class="form-control"
                           id="formGroupExampleInput"
                           placeholder="Digite o Nome">
                </div>
                @* Sobrenome   *@
                <div class="mb-3">
                    <label asp-for="funcionario.Sobrenome" class="form-label">Sobrenome</label>
                    <input asp-for="funcionario.Sobrenome" type="text"
                           class="form-control"
                           id="formGroupExampleInput"
                           placeholder="Digite o Sobrenome">
                </div>
                @* email  *@
                <div class="mb-3">
                    <label asp-for="funcionario.Email" class="form-label">E-mail</label>
                    <input readonly asp-for="funcionario.Email" type="text"
                           class="form-control"
                           id="formGroupExampleInput"
                           placeholder="Digite o e-mail">
                </div>
            </div>
            @* **************************  *@            
            <div class="row g-6 mb-3">
                @* Data de Nascimento  *@
                <div class="form-group col">
                    <label asp-for="funcionario.DataDeNascimento">Data de Nascimento</label>
                    <input asp-for="funcionario.DataDeNascimento" type="date" class="form-control" id="nascimento">
                </div>
                @* Gênero  *@
                <div class="col mb-3">
                    <label asp-for="funcionario.Genero"> Gênero </label>
                    <select asp-for="funcionario.Genero" class="form-select" aria-label="Gênero">
                        <option selected>Selecione</option>
                        <option value="MC">Mulher cisgênero</option>
                        <option value="MT">Mulher transgênero</option>
                        <option value="HC">Homem cisgênero</option>
                        <option value="HT">Homem transgênero</option>
                        <option value="GNB">Gênero não-binário</option>
                        <option value="Ag">Agênero</option>
                        <option value="GF">Gênero-fluido</option>
                        <option value="Bg">Bigênero</option>
                    </select>
                </div>
            </div>
            @* **************************  *@
            <div class="row g-3 mb-3">
                @* Senioridade *@
                <div class="col">
                    <label asp-for="funcionario.Senioridade"> Senioridade </label>
                    <select asp-for="funcionario.Senioridade" class="form-select" aria-label="Senioridade">
                        <option selected>Selecione</option>
                        <option value="Estagiario">Estagiário</option>
                        <option value="Junior">Junior</option>
                        <option value="Pleno">Pleno</option>
                        <option value="Senior">Sênior</option>
                        <option value="Contratado">Contratado</option>
                        <option value="Gerente">Gerente</option>
                        <option value="Getor">Gestor</option>
                    </select>
                </div>


                @* Cargo  *@
                <div class="col mb-3">
                    <label asp-for="funcionario.Cargo"> Cargo </label>
                    <select asp-for="funcionario.Cargo" class="form-select" aria-label="Cargo">
                        <option selected>Selecione</option>
                        <option value="DevSoftware">Desenvolvedor</option>
                        <option value="Engenheiro">Engenheiro</option>
                        <option value="Analista">Analista</option>
                        <option value="FullStack">Full-Stack</option>
                        <option value="TI">TI</option>
                        <option value="Infra">Infra</option>
                        <option value="UX">UX</option>
                        <option value="Recrutador">Recrutador(a)</option>
                        <option value="QA">QA</option>
                        <option value="Financeiro">Financeiro</option>
                    </select>
                </div>



                @* Departamento *@
                <div class="col mb-3">
                    <label asp-for="funcionario.Departamento_Id"> Departamento </label>
                    <select asp-for="funcionario.Departamento_Id" class="form-select" aria-label="Departamento">
                        <option value=0 selected>Selecione</option>
                        @foreach (Departamento registro in Model.departamento)
                        {
                            <option value=@registro.Id>@registro.Nome</option>
                        }
                    </select>
                </div>

                @* Acesso *@
                <div class="col mb-3">
                    <label asp-for="funcionario.Acesso"> Acesso </label>
                    <select asp-for="funcionario.Acesso" class="form-select" aria-label="Acesso">
                        <option selected>Selecione</option>
                        <option value="Admin">Admin</option>
                        <option value="Gerente">Gerente</option>
                        <option value="Funcionario">Funcionário Comum</option>
                    </select>
                </div>

            </div>

            @*  Botões  *@
            <div class="mb-3 botoesForm">
                <a asp-action="ListaFuncionarios"
                   class="btn btn-secondary botao-cancelarExcluir"
                   role="button">
                        Cancelar
                </a>

                <button  type="submit"
                        class="btn btn-primary botao-atualizar ">
                    Salvar 
                </button>
                
            </div>

        </form>

    </div>
</section>

