@model Departamento

@{
    ViewData["Title"] = "Atualizar registro";
}


<partial name="_Header" model="Model"></partial>
<partial name="_NavBar" model="Model"></partial>




<div class="container-Update">
    <div class="card-Update ">
        <!-- Conteúdo da div aqui -->
        <div class="container-form-Update  align-items-center">
            <form class="btn-group flex-column" method="post">
                <div class="label-titulo">
                    <h2>@ViewData["Title"]</h2>
                </div>
                <div class="label-update-nome-departamento">
                    <label asp-for="Nome">Nome do Departamento</label>
                    <input class="text-input" asp-for="Nome" />
                </div>

                <div class="botoes-criar-departamento">
                    <button asp-action="Index" class="btn btn-secondary botao-cancelarExcluir">Cancelar</button>
                    <button class="botao-atualizar " type="submit">Salvar</button>

                </div>
            </form>

        </div>

       
    </div>
</div>