
.títuloMyte {
    display:flex;
    justify-content:center;
    padding: 2rem 0 2rem 0;
}


.calendar-container {
    margin: 20px;
    padding-bottom: 1em;
}

.container-buttonSalva-calendar {
    align-items: baseline;
    gap: 10%;
    padding: 1rem 2rem;
}

.botao_salvar {
    background-color: #DED72B;
    color: #414141;
    border: none;
    transition: 0.2s;
    border-radius: 10px;
    height: 2.5em;
    width: 8em;
    font-weight: 600;
    padding: 0 1rem;
}

    .botao_salvar:hover {
        background-color: #B3AF52;
    }

#prev, #next {
    background: #E8DEF8;
    color: #414141;
    border: none;
    transition: 0.2s;
    border-radius: 10px;
    height: 2.5em;
    padding: 0 2rem;
}

    #prev:hover, #next:hover {
        background: #A155B9;
        color: white;
        
    }


.calendar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 1em;
}


#quinzena-label {
    color: #A155B9;
    font-weight: bold;
    font-size: 18px;
}




.calendar-table {
    width: 100%;
    border-collapse: collapse;
    border-color: #fff;
    background: #E8DEF8;
}


    .calendar-table thead {
        background-color: #A155B9;
        color: white;
    }

    .calendar-table th, .calendar-table td {
        height: 3rem;
        border: 1px solid #ffff;
        padding: 10px 1px;
        text-align: center;
    }

.calendar-table th{
  
    align-items:center;
}


.wbs-select {
    width: 20rem;
    background: #E8DEF8;
    border: none;
}



.hours-input {
    width: 90%;
    border: none;
    background: #E8DEF8;
}

    .hours-input:disabled {
        background-color: #A155B9;
        /*
        cursor: not-allowed;*/
    }

.day-cell input {
    background-color: #A155B9;
}

.weekend {
    background-color: #A155B9; /* Substitua por sua cor desejada */
}

.day .weekend {
    border: 2px solid #ffff;
}

.div_horas_edit {
    align-items:center;
    width:20px;
    margin: .5rem .25rem;
    gap:.5rem;
    
}

.input_horas {
    text-align: center;
    width: 45px;
    background: #E8DEF8;
}

.img_edit_horas {
    width: 1em;
}

/* Ajuste do Novo Calendar*/
.container-regHoras{
    display: flex;
    justify-content: end;
    align-items:center;
    gap: 14%;
    margin: 1rem
}



.botao_create_horas {
    background-color: #E8DEF8;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-weight: 500;
}
 


    .botao_create_horas:hover {
        background-color: #632377;
    }
    .botao_create_horas a:hover {
        color: #fff;
    }

.calendar-table table {
    width: 100%; /* Ajuste conforme necessário */
    table-layout: fixed;
}

.container-thHeader {
    padding: 1rem 0;
}
.tr-header {
}
.th-wbs {
    width: 100px;
}

.th-dias {
    width: 50px;
}

.tbody-container-calendar {
    width: 50vw;
}

.tfoot-container-calendar {
    width: 50vw;
}


/*  Forulário Uppdate */
.container-CriarRegistro {
    margin-top: 8rem;
    padding: 4rem 2.5rem;
    width: 60vw;
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 0px 60px 2px rgb(53, 43, 81, 0.10);
    border-radius: 10px;
}

.form-CriarRegistro{
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
}

/* Criar Registro*/
botoes-criar_registro{
    display: flex;
    justify-content: end;
    gap: 1rem;
    width: contain;
    

}